@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Exo&family=Noto+Sans&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
#facebook{
    transition: all 0.4s;
}
#facebook:hover{
    fill: #6092ff;
}
#instagram{
    transition: all 0.4s;
}
#instagram:hover{
    fill: #6092ff;
}
#github{
    transition: all 0.4s;
}
#github:hover{
    fill: #6092ff;
}
#linkedin{
    transition: all 0.4s;
}
#linkedin:hover{
    fill: #6092ff;
}