@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Exo&family=Noto+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
@import '~antd/dist/antd.css';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: white;
}
a{
    text-decoration: none;
}
@media(min-width: 905px){
    ::-webkit-scrollbar-track {
        background-color: #181818;
    }
    ::-webkit-scrollbar {
        width: 5px;
        background: #73ffdd;
    }
    ::-webkit-scrollbar-thumb {
        background: #73ffdd;
        border-radius: 5px;
    }
}

#facebook{
    transition: all 0.4s;
}
#facebook:hover{
    fill: #73ffdd;
    animation: graps 0.5s linear;
}
#close:hover{
    fill: #73ffdd;
    animation: spin 1s linear;
}
#instagram{
    transition: all 0.4s;
}
#instagram:hover{
    fill: #73ffdd;
    animation: graps 0.5s linear;

}
#github{
    transition: all 0.4s;
}
#github:hover{
    fill: #73ffdd;
    animation: graps 0.5s linear;

}
#linkedin{
    transition: all 0.4s;
}
#linkedin:hover{
    fill: #73ffdd;
    animation: graps 0.5s linear;

}
#back{
    transition: all 0.4s;
}
#back:hover{
    fill: #73ffdd;
    animation: graps 0.5s linear;
}
#search{
    transition: all 0.4s;
}
#search:hover{
    transition: all 0.4s;
    fill: #73ffdd;
    animation: graps 0.5s linear;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes graps {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
