@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Exo&family=Noto+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar-track {
    background-color: #181818;
}
::-webkit-scrollbar {
    width: 5px;
    background: #ff6868;
}
::-webkit-scrollbar-thumb {
    background: #D18328;
    border-radius: 5px;
}
#facebook{
    transition: all 0.4s;
}
#facebook:hover{
    fill: #6092ff;
}
#instagram{
    transition: all 0.4s;
}
#instagram:hover{
    fill: #6092ff;
}
#github{
    transition: all 0.4s;
}
#github:hover{
    fill: #6092ff;
}
#linkedin{
    transition: all 0.4s;
}
#linkedin:hover{
    fill: #6092ff;
}
#back:hover{
    transition: all 0.4s;
    fill: #ff7948;
}