@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #101010;
}

@media(min-width: 800px) {
  ::-webkit-scrollbar-thumb {
    background: #147F76;
    border-radius: 2px;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
}